body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: sans-serif;
}


.hplink {
  opacity: 1;
}

.hplink:hover {
  opacity: 0.7;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
